<p>Hello World</p>

<p><button id="clear-btn" class="btn btn-default">Clear Drawing</button>
  | Points: <span id="point-count">0</span>
  | Signed in as: <%= @user %>
</p>

<div>
  <canvas id="draw-canvas" width="800" height="600">
  </canvas>
</div>

<script>
 window.draw_cfg = {
   user: "<%= escape_javascript @user %>",
   game: "<%= escape_javascript @game %>",
   host: <%= @host %>
 };
</script>
